@import "./selectors";

// Theme
@import "./theme/colors";
@import "./theme/tokens";
@import "./theme/tridactyl";

// Chrome
@import "./status";
@import "./new";

//
// Frame

#{$frame} {
  position: fixed !important;
  z-index: 2147483647 !important;
  top: 20% !important;
  bottom: unset;
  left: 10% !important;
  width: 80% !important;
}

#{$frame-root} > body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: stretch;
  padding: 3rem; // Don't clip shadow
}

//
// Command

#command-line-holder {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  order: 1;
  background: var(--background-0);
  border-radius: 0;
  border-top-left-radius: var(--border-radius-3);
  border-top-right-radius: var(--border-radius-3);
  box-shadow: var(--shadow-2);
  color: var(--tridactyl-bg);
  opacity: 0.95;

  #tridactyl-colon {
    padding-left: 0.75rem;
    color: var(--foreground-1);
    font-size: 1.25rem;
    opacity: 0.5;
  }
}

#tridactyl-input {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  padding-left: 0.25rem;
  background: transparent;
  color: var(--tridactyl-fg);
  line-height: 1.5;
}

//
// Completions

#completions {
  --option-height: 1.4em;

  display: inline-block;
  overflow: hidden;
  width: auto;
  order: 2;
  padding-bottom: 0.5rem;
  border-top: unset;
  background: var(--tridactyl-bg);
  border-radius: 0;
  border-bottom-left-radius: var(--border-radius-3);
  border-bottom-right-radius: var(--border-radius-3);
  box-shadow: var(--shadow-2);
  color: var(--tridactyl-fg);
  font-size: unset;
  opacity: 0.95;

  & > div {
    min-height: auto;
    max-height: calc(20 * var(--option-height));
  }

  .sectionHeader {
    padding: 0.5rem !important;
    padding-bottom: 0.2rem;
    padding-left: unset;
    border-bottom: unset;
    background: var(--background-1);
    font-weight: var(--font-weight-mono-semibold);
  }

  // Table

  table#{$completion-table} {
    padding-top: 0;
    padding-bottom: 1rem;
    border-spacing: 0;
    table-layout: fixed;

    td {
      padding: 0.25rem 0.5rem;

      &.content,
      &.documentation,
      &.title {
        font-family: var(--font-family-sans);
        font-weight: var(--font-weight-sans-normal);
      }

      &.title {
        width: 50%;
        font-weight: var(--font-weight-sans-semibold);
      }

      &.privatewindow,
      &.container {
        display: none;
      }

      &.prefix {
        color: var(--foreground-0);
        font-weight: var(--font-weight-mono-bold);
      }

      &.icon {
        position: relative;

        img {
          filter: sepia(100%);
        }
      }
    }
  }

  // Sources

  @each $source, $selector in $sources {
    #{$selector} {
      min-height: unset;
      max-height: unset;
    }
  }

  #{$source-buffer} table#{completion-table} {
    width: unset;
    border-spacing: unset;
    font-size: unset;
    table-layout: unset;
  }

  #{$source-history} {
    td.prefix { display: none; }
  }
}

#completions .focused .excmd {
  color: var(--magenta);
}

#completions .focused {
  background: var(--background-4);
  color: var(--foreground-3);
}

#completions .focused .url {
  background: var(--green);
  color: var(--background-2);
}
