@import "./theme/colors";
@import "./theme/tokens";
@import "./theme/tridactyl";

.TridactylOwnNamespace > body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: stretch;
  padding: 5rem;
}

#command-line-holder {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  order: 1;
  background: var(--background-0);
  border-radius: 0;
  border-top-left-radius: var(--border-radius-3);
  border-top-right-radius: var(--border-radius-3);
  box-shadow: var(--shadow-1);
  color: var(--tridactyl-bg);
  opacity: 0.95;
}

#command-line-holder #tridactyl-colon {
  padding-left: 0.75rem;
  color: var(--foreground-1);
  font-size: 1.25rem;
  opacity: 0.5;
}

#tridactyl-input {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  padding-left: 0.25rem;
  background: transparent;
  color: var(--tridactyl-fg);
  font-size: 1.25rem;
  line-height: 1.5;
}

#completions table {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-spacing: 0;
  font-size: 0.8rem;
  font-weight: 200;
  table-layout: fixed;
}

#completions table td {
  padding: 0.25rem 0.5rem;
}

#completions > div {
  min-height: auto;
  max-height: calc(20 * var(--option-height));
}

/* COMPLETIONS */

#completions {
  --option-height: 1.4em;

  display: inline-block;
  overflow: hidden;
  width: auto;
  order: 2;
  padding-bottom: 0.5rem;
  border-top: unset;
  background: var(--tridactyl-bg);
  border-radius: 0;
  border-bottom-left-radius: var(--border-radius-3);
  border-bottom-right-radius: var(--border-radius-3);
  box-shadow: var(--shadow-1);
  color: var(--tridactyl-fg);
  font-size: unset;
  font-weight: 200;
  opacity: 0.95;

  & .optionContainer {
    padding-top: 0;
  }
}

#completions
/* Olie doesn't know how CSS inheritance works */
#completions .HistoryCompletionSource {
  min-height: unset;
  max-height: unset;
}

#completions .HistoryCompletionSource table {
  width: auto;
  border-spacing: 0;
  font-size: 9pt;
  table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
#completions .BmarkCompletionSource {
  min-height: unset;
  max-height: unset;
}

#completions table tr td.prefix,
#completions table tr td.privatewindow,
#completions table tr td.container,
#completions table tr td.icon {
  display: none;
}

#completions .BufferCompletionSource table {
  width: unset;
  border-spacing: unset;
  font-size: unset;
  table-layout: unset;
}

#completions table tr .title {
  width: 50%;
}

#completions table tr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#completions .sectionHeader {
  padding: 0.5rem !important;
  padding-bottom: 0.2rem;
  padding-left: unset;
  border-bottom: unset;
  background: var(--background-1);
  font-weight: 200;
}

/* stylelint-disable-next-line selector-id-pattern */
#cmdline_iframe {
  position: fixed !important;
  z-index: 2147483647 !important;
  top: 25% !important;
  bottom: unset;
  left: 10% !important;
  width: 80% !important;
}

.TridactylStatusIndicator {
  position: fixed !important;
  right: 5px !important;
  bottom: 0 !important;
  bottom: 5px !important;
  padding: 0.25rem 0.375rem !important;
  border: unset !important;
  background: var(--tridactyl-bg) !important;
  border-radius: var(--border-radius-1) !important;
  box-shadow: var(--shadow-2) !important;
  color: var(--yellow) !important;
  font-size: 0.75rem !important;
  font-weight: 500 !important;
  opacity: 0.75;
}

#completions .documentation {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
}

#completions .focused .excmd {
  color: var(--magenta);
}

#completions .focused {
  background: var(--background-4);
  color: var(--foreground-3);
}

#completions .focused .url {
  background: var(--green);
  color: var(--background-2);
}
