@use "sass:list";
@use "sass:map";
@use "sass:math";

$count: list.length(map.keys($color));
$colors: map.values($color);

span.TridactylHint {
  padding: 1px var(--space-1) 2px !important;
  border-radius: var(--border-radius-0) !important;
  font-family: var(--font-family-mono) !important;
  font-weight: var(--font-weight-mono-semibold) !important;
  box-shadow: var(--shadow-0) !important;
  animation: 3s linear 1s infinite running hint !important;

  @for $i from 1 through $count {
    &:nth-child(#{$i}n) {
      background: #{list.nth($colors, $i)} !important;
    }
  }
}
