@use "sass:map";

// Tridactyl iframe
$frame: "#cmdline_iframe";
$frame-root: ".TridactylOwnNamespace"; // `html` element in iframe

// Completion
$completion-table: ".optionContainer";

// Sources
$sources: (
  "bookmark": ".BmarkCompletionSource",
  "buffer": ".BufferCompletionSource",
  "history": ".HistoryCompletionSource",
);
$source-bookmark: map.get($sources, "bookmark");
$source-buffer: map.get($sources, "buffer");
$source-history: map.get($sources, "history");
