@import "./core";

$background-0: #ea6962;
$background-1: #282828;
$background-2: #32302f;
$background-3: #3c3836;
$background-4: #504945;
$background-5: #665c54;
$foreground-1: #bdae93;
$foreground-2: #d5c4a1;
$foreground-3: #ebdbb2;
$foreground-4: #fbf1c7;
$red: #ea6962;
$orange: #e78a4e;
$yellow: #d8a657;
$green: #a9b665;
$cyan: #89b482;
$blue: #7daea3;
$magenta: #d3869b;
