$background-0: #232634;
$background-1: #292C3C;
$background-2: #303446;
$background-3: #414559;
$background-4: #51576d;
$background-5: #626880;
$foreground-0: #737994;
$foreground-1: #838ba7;
$foreground-2: #949cbb;
$foreground-3: #a5adce;
$foreground-4: #b5bfe2;
$red: #E78284;
$orange: #EF9F76;
$yellow: #E5C890;
$green: #A6D189;
$cyan: #81C8BE;
$blue: #8CAAEE;
$magenta: #CA9EE6;

@import "./core";
