/* stylelint-disable declaration-colon-space-after, scss/dollar-variable-colon-space-after */

$background: (
  0: #1d2021,
  1: #282828,
  2: #32302f,
  3: #3c3836,
  4: #504945,
  5: #665c54,
) !default;
$foreground: (
  0: #665c54,
  1: #bdae93,
  2: #d5c4a1,
  3: #ebdbb2,
  4: #fbf1c7,
) !default;
$color: (
  "red": #ea6962,
  "orange": #e78a4e,
  "yellow": #d8a657,
  "green": #a9b665,
  "cyan": #89b482,
  "blue": #7daea3,
  "magenta": #d3869b,
) !default;

:root {
  @each $i, $value in $background {
    --background-#{$i}: #{$value};
  }

  @each $i, $value in $foreground {
    --foreground-#{$i}: #{$value};
  }

  @each $c, $value in $color {
    --#{$c}: #{$value};
  }
}
