/* stylelint-disable declaration-colon-space-after, scss/dollar-variable-colon-space-after */

$background: (
  0: $background-0,
  1: $background-1,
  2: $background-2,
  3: $background-3,
  4: $background-4,
  5: $background-5,
) !default;
$foreground: (
  0: $foreground-0,
  1: $foreground-1,
  2: $foreground-2,
  3: $foreground-3,
  4: $foreground-4,
) !default;
$color: (
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "cyan": $cyan,
  "blue": $blue,
  "magenta": $magenta,
) !default;

:root {
  @each $i, $value in $background {
    --background-#{$i}: #{$value};
  }

  @each $i, $value in $foreground {
    --foreground-#{$i}: #{$value};
  }

  @each $c, $value in $color {
    --#{$c}: #{$value};
  }
}
