:root {
  // Typography
  --tridactyl-cmdl-font-size: var(--font-size-3);
  --tridactyl-header-font-size: var(--font-size-2);
  --tridactyl-cmdl-font-family: var(--font-family-mono);
  --tridactyl-cmplt-font-family: var(--font-family-mono);
  --tridactyl-header-font-weight: var(--font-weight-mono-semibold);

  // Color
  --tridactyl-fg: var(--foreground-2);
  --tridactyl-bg: var(--background-2);
  --tridactyl-url-fg: var(--blue);
  --tridactyl-url-bg: var(--background-2);
  --tridactyl-highlight-box-bg: var(--green);
  --tridactyl-highlight-box-fg: var(--background-2);
  --tridactyl-photon-colours-accent-1: var(--blue);

  // Hints
  --tridactyl-hintspan-fg: var(--background-2) !important;
  --tridactyl-hintspan-bg: var(--yellow) !important;

  // Hint Elements
  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;
}
